<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stephanie McNiel personal website</title>
  <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body class="site">
  <header class="site-header"></header>
  <main class="site-content">
    {% block content %}{% endblock content %}
  </main>
</body>
</html>
